Repository llmariner/session-manager, pull requests merged in 2025-03, with the labels that each got.

#110 chore(ci): add a manual workflow for building docker images
  .github/workflows/manual-build-and-push-image.yml
Labels: skip-changelog

#111 feat(server): login with okta directly
  deployments/server/templates/configmap.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  go.mod
  go.sum
  server/cmd/root.go
  server/internal/auth/authenticator.go
  server/internal/auth/token_exchanger.go
  server/internal/auth/token_exchanger_okta.go
  server/internal/config/config.go
Labels: enhancement, skip-changelog

#113 fix: fix a typo in configmap
  deployments/server/templates/configmap.yaml
Labels: bug

#114 fix: set dexServer only if addr is set
  deployments/server/templates/configmap.yaml
Labels: bug

#116 fix: check enableOkta before checking DexServer
  deployments/server/templates/configmap.yaml
  server/cmd/root.go
Labels: bug
