Repository llmariner/session-manager, pull requests merged in 2025-02, with the labels that each got.

#100 feat(server): support auth for cluster scope k8s api calls
  server/internal/auth/authenticator.go
  server/internal/auth/authenticator_test.go
Labels: enhancement

#103 docs: add architecture diagram
  README.md
  docs/development/architecture.png
Labels: documentation

#104 feat: validate the cluster registration key
  agent/cmd/root.go
  go.mod
  go.sum
Labels: enhancement

#105 fix: bump rbac-manager
  go.mod
  go.sum
Labels: bug
